@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
:root {
    --color-primary: #0B21EA;
    --color-secondary: #0868A8;
    --color-analogous: #cfd3fc;
    --color-opposite: #f7e758;
}
body {
    margin: 0;
}